<div class="row" ng-controller="assignmentController">
    <div class="col-md-3">

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <img class="list-thumbnail" ng-src="{{ getImagePath(currentItem.path) }}"
                         ng-click="setPreviewPath(currentItem)" />
                    <div class="pull-right pointer-cursor" ng-show="itemComplete()" ng-click="moveNext()">
                        <i style="font-size: 60px" class="fa fa-chevron-circle-right" ></i>
                    </div>
                </div>

                <div class="form-group" ng-show="dataChanged">
                    <button class="btn btn-success btn-lg btn-block" ng-click="saveChanges()">
                        Save
                    </button>
                </div>

            </div>
        </div>

         <form action="" method="post">

            <div class="panel panel-default" id="assignment">

                <div class="panel-heading">
                    <h3 class="panel-title">Assign Image
                        <a class="pull-right pointer-cursor " ng-show="doneAssignment" ng-click="doneAssignment = false"><i class="fa fa-chevron-down"></i></a>
                    </h3>
                </div>
                <div class="panel-body" ng-class="{'collapse':doneAssignment}">
                    <div class="form-group">
                        <label for="set" class="control-label">Set:</label>
                        <select id="set" name="set" class="form-control"
                                ng-options="set as set.name for set in sets" ng-model="selectedSet">
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="deck" class="control-label">Deck:</label>
                        <select id="deck" name="deck" multiple="multiple" class="form-control"
                                ng-options="deck as deck.name for deck in selectedSet.decks" ng-model="selectedDecks">
                        </select>
                    </div>

                    <div class="form-group" ng-show="selectedDeck" ng-cloak>
                        <ul ui-sortable="sortableOptions" class="list-group" ng-model="selectedDeck.images">
                            <li class="list-group-item pointer-cursor" ng-repeat="card in selectedDeck.images" id="{{ card.id }}">
                                <span class="badge">{{ card.indexInDeck }}</span>
                                <img class="list-thumbnail" ng-src="{{ getImagePath(card.path) }}" ng-click="setPreviewPath(card)" />
                                {{ card.displayPath }}</li>
                        </ul>
                    </div>
                </div>


            </div>

        </form>
    </div>

    <div class="col-md-5">

        <div ng-hide="showPreviews" >
            <img id="imagePreview" ng-src="{{ previewPath }}" class="working-image" />
        </div>
        <div ng-show="showPreviews">
            <image-crop-preview crop-index="1" scale=".25" current-item="currentItem" ng-click="jumpToCropSet(0)"></image-crop-preview>
            <image-crop-preview crop-index="2" scale=".25" current-item="currentItem" ng-click="jumpToCropSet(1)"></image-crop-preview>
            <image-crop-preview crop-index="3" scale=".25" current-item="currentItem" row-start="true"  ng-click="jumpToCropSet(2)"></image-crop-preview>
            <image-crop-preview crop-index="4" scale=".25" current-item="currentItem"  ng-click="jumpToCropSet(3)"></image-crop-preview>
        </div>


    </div>

    <div class="col-md-4">

        <div class="sound-previews">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="sound in selectedDeck.sounds">
                    <audio controls ng-src="{{ getSoundPath(sound.path) }}" type="audio/mpeg" >
                        Your browser does not support audio
                    </audio>
                    {{ sound.name }}
                    <input type="radio" name="selectedSound" ng-value="sound.path" ng-model="currentItem.sound" />
                </li>
            </ul>


        </div>



    </div>

</div>