<div class="row" ng-controller="assignmentController">
    <div class="col-md-3">

        <div class="panel panel-default">
            <div class="panel-body">
                <img class="list-thumbnail" ng-src="{{ getImagePath(currentItem.path) }}"
                     ng-click="setPreviewPath(currentItem)" />
            </div>
        </div>

         <form action="" method="post">

            <div class="panel panel-default" id="assignment">

                <div class="panel-heading">
                    <h3 class="panel-title">Assign Image
                        <a class="pull-right pointer-cursor " ng-show="doneAssignment" ng-click="doneAssignment = false"><i class="fa fa-chevron-down"></i></a>
                    </h3>
                </div>
                <div class="panel-body" ng-class="{'collapse':doneAssignment}">
                    <div class="form-group">
                        <label for="set" class="control-label">Set:</label>
                        <select id="set" name="set" class="form-control"
                                ng-options="set as set.name for set in sets" ng-model="selectedSet">
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="deck" class="control-label">Deck:</label>
                        <select id="deck" name="deck" multiple="multiple" class="form-control"
                                ng-options="deck as deck for deck in selectedSet.decks" ng-model="selectedDecks">
                        </select>
                    </div>

                    <div class="form-group" ng-show="selectedDeck" ng-cloak>
                        <ul ui-sortable="sortableOptions" class="list-group" ng-model="existingDeckCards">
                            <li class="list-group-item pointer-cursor" ng-repeat="card in existingDeckCards" id="{{ card.id }}">
                                <span class="badge">{{ card.index }}</span>
                                <img class="list-thumbnail" ng-src="{{ ::card.path }}" ng-click="setPreviewPath(card)" />
                                {{ card.path }}</li>
                        </ul>
                    </div>
                </div>


            </div>

        </form>
    </div>

    <div class="col-md-5">
        <div >
            <img id="imagePreview" ng-src="{{ previewPath }}" class="working-image" />
        </div>

    </div>

    <div class="col-md-4">

        <div class="sound-previews">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="sound in soundsForDeck">
                    <audio controls ng-src="{{sound.path}}" type="audio/mpeg" >
                        Your browser does not support audio
                    </audio>
                    {{ sound.name }}
                    <input type="radio" name="selectedSound" ng-value="sound.path" ng-model="selectedData.selectedSound" />
                </li>
            </ul>


        </div>



    </div>

</div>