<div class="row" >
    <div class="col-md-3">

        <form action="" method="post">

            <div id="cropTools" >
                <div class="panel panel-default" id="cropWizard">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ activeCropSet.title }}</h3>
                    </div>
                    <div class="panel-body colored-block master12">

<!--                        <div class="form-group">
                            <span class="inline-header-label">Master Orientation</span>
                            <label class="radio-inline">
                                <input type="radio" name="twOrientation" id="twOrientation1" value="0"
                                       ng-model="orientation">
                                Landscape
                            </label>
                            <label class="radio-inline">

                                <input type="radio" name="twOrientation" id="twOrientation2" value="1"
                                       ng-model="orientation">
                                Portrait
                            </label>
                        </div>-->
                        <div class="form-group">


                            <!-- Button 1 -->
                            <button class="btn btn-default {{getButtonState(1).css }}" id="twelve16MasterSet"
                                    ng-disabled="cropDefIndex <= 0 || inPreview" type="button"
                                    ng-click="doPreviousAction()">
                                Previous
                            </button>
                            <button class="btn btn-default" id="twelve16AltSet" type="button"
                                    ng-disabled="cropDefIndex >= 3 || inPreview" ng-click="doNextCropAction()">Next
                            </button>
                            <button class="btn btn-default pull-right" id="twelve16Clear" type="button"
                                    ng-click="cancelCropAction()">Cancel
                            </button>

                        </div>

                    </div>

                </div>


                <div class="form-group">
                    <button class="btn btn-info" type="button" value="Preview"
                            ng-click="previewCrop()">{{ inPreview ? "Hide Preview" : "Preview" }}
                    </button>
                </div>

                <div class="form-group">
                    <button class="btn btn-info" type="button" value="Preview"
                            ng-click="discardImage()"> Discard Image
                    </button>
                </div>
            </div>

            <div class="form-group" ng-show="dataChanged">
                <button class="btn btn-success btn-lg btn-block" type="button" ng-click="saveChanges()">
                    Save
                </button>
            </div>

            <div class="form-group" ng-show="isCompleteable()">
                <button class="btn btn-primary btn-lg btn-block" type="button" ng-click="markComplete()">
                    Mark Complete
                </button>
            </div>

        </form>

    </div>

    <div id="cropFormatter" class="col-md-9">
        <div id="imageContainer">
            <img id="currentImage"  ng-src="{{ getImagePath() }}" class=""/>
        </div>
        <div id="maskContainer">
            <img id="mask" src="mask.png"/>
        </div>
        <div id="previewContainer">
            <img id="preview" ng-src="{{ getImagePath() }}"/>
        </div>

    </div>



</div>