<form novalidate ng-controller="iconCollectionSetupController">

    <h1>{{ getWords() }}</h1>

    <div class="form-group" ng-hide="creatingSet" ng-click="createSet()">
        <button class="btn btn-primary btn-lg btn-block">
            Create Set
        </button>
    </div>

    <div ng-show="creatingSet || editingSet">
        <div class="form-group">
            <div class="input-group">
                <label for="set-name" class="input-group-addon">Set Name</label>
                <input type="text" id="set-name" name="set-name" ng-model="currentSet.name" required
                       class="form-control">
            </div>
        </div>


        <div class="form-group">
            <p>Choose Set Icon</p>
            <div class="btn-group">
                <label class="btn btn-default" ng-repeat="setIcon in setIcons">
                    <input type="radio" ng-model="currentSet.icon" ng-value="setIcon.path"/>
                    <img ng-src="{{ ::setIcon.path }}" width="30px">
                </label>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" ng-click="saveSet()">
                Save
            </button>
        </div>
        <div class="form-group" ng-show="editingSet">
            <button class="btn btn-danger btn-lg btn-block" ng-click="deleteSet()">
                Delete
            </button>
        </div>
        <div class="form-group">
            <button class="btn btn-info btn-lg btn-block" ng-click="cancelEdit()">
                Cancel
            </button>
        </div>
    </div>

    <p>Set list</p>

    <div class="form-group" ng-show="sets.length" ng-cloak>
        <ul ui-sortable="sortableOptions" class="list-group" ng-model="sets">
            <li class="list-group-item pointer-cursor" ng-click="setCurrentSet(set)"
                ng-class="{'active': set == currentSet}" ng-repeat="set in sets" id="{{ set.id }}">


                <img class="list-thumbnail" ng-src="{{ set.icon }}"/>
                {{ set.name }}
                <div class="pull-right">
                    <span class="badge pull-right">{{ set.id }}</span>
                    <br><br>
                    <button type="button" class="btn btn-default btn-xs" ng-click="editSet(set)">Edit</button>
                </div>

            </li>

        </ul>
    </div>

</form>

