<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="imgProcessor" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="imgProcessor" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="imgProcessor" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="imgProcessor" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Angular Bool Test</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="components/jcrop/jquery.Jcrop.min.css">
    <link rel="stylesheet" href="app.css">

</head>
<body>

<div class="container-fluid" ng-controller="imgProcController">
    <div class="row">
        <div class="col-md-3">

            <form action="" method="post">

                <div class="form-group">
                    <label for="backlog" class="control-label">Backlog:</label>
                    <select id="backlog" name="backlog" multiple="multiple" class="form-control"
                    ng-options="img as img.path for img in backlog" ng-model="selectedImg" ng-change="preImageChange()">
                    </select>
                </div>

                <div class="form-group">
                    <label for="imageName" class="control-label">Image Name:</label>
                    <input id="imageName" type="text" name="imageName" value="" ng-model="workingImg.name" class="form-control">
                </div>

                <div class="form-group">

                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#twelve16" aria-controls="twelve16" role="tab" data-toggle="tab">12 / 16</a></li>
                        <li role="presentation">
                            <a href="#nine16" aria-controls="nine16" role="tab" data-toggle="tab">9 / 16</a></li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="twelve16">
                            <div class="colored-block master12">
                                <h4>Master</h4>
                                <div class="form-group">
                                    <label class="radio-inline">
                                        <input type="radio" name="twOrientation" id="twOrientation1" value="landscape"
                                               ng-model="workingImg.twelve16.master.orientation">
                                        Landscape
                                    </label>
                                    <label class="radio-inline">

                                        <input type="radio" name="twOrientation" id="twOrientation2" value="portrait"
                                               ng-model="workingImg.twelve16.master.orientation">
                                        Portrait
                                    </label>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                       <span class="input-group-btn">

                                    <!-- Button 1 -->
                                    <button class="btn btn-default {{getButtonState(1).css }}" id="twelve16MasterSet"
                                            type="button" ng-click="addCropBox(1)">
                                        {{ getButtonState(1).caption }}
                                    </button>
                                  </span>
                                        <input type="text" id="twelve16MasterCoordDisplay"
                                               class="coord-display form-control"
                                               value="{empty}" ng-model="coordDisplay[0]" class="form-control" readonly="readonly">

                                    </div>

                                </div>

                            </div>

                            <div class="colored-block alternate12">
                                <h4>Alternate</h4>
                                <div class="form-group">
                                    <div class="input-group">
                                       <span class="input-group-btn">
                                    <button class="btn btn-default" id="twelve16AltSet" type="button"
                                            ng-click="addCropBox(2)">Set Crop</button>
                                  </span>
                                        <input type="text" id="twelve16AltCoordDisplay"
                                               class="coord-display form-control"
                                               value="{empty}" readonly="readonly">

                                    </div>
                                </div>
                            </div>

                        </div>

                        <div role="tabpanel" class="tab-pane" id="nine16">
                            <div class="colored-block master9">
                                <h4>Master</h4>
                                <div class="form-group">
                                    <label class="radio-inline">
                                        <input type="radio" name="niOrientation" id="niOrientation1" value="landscape"
                                               ng-model="workingImg.nine16.master.orientation">
                                        Landscape
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="niOrientation" id="niOrientation2" value="portrait"
                                               ng-model="workingImg.nine16.master.orientation">
                                        Portrait
                                    </label>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                       <span class="input-group-btn">
                                    <button class="btn btn-default" id="nine16MasterSet" type="button"
                                            ng-click="addCropBox(3)">Set Crop
                                    </button>
                                  </span>
                                        <input type="text" id="nine16MasterCoordDisplay"
                                               class="coord-display form-control" value="{empty}"  readonly="readonly">

                                    </div>

                                </div>

                            </div>

                            <div class="colored-block alternate9">
                                <h4>Alternate</h4>
                                <div class="form-group">
                                    <div class="input-group">
                                       <span class="input-group-btn">
                                    <button class="btn btn-default" id="nine16AltSet" type="button"
                                            ng-click="addCropBox(4)">Set Crop</button>
                                  </span>
                                        <input type="text" id="nine16AltCoordDisplay" class="coord-display form-control"
                                               value="{empty}" readonly="readonly">

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Submit">
                </div>


            </form>
        </div>
        <div id="imageHolder" class="col-md-9">
            <img id="cropbox" ng-src="{{ getImagePath() }}" class="working-image"/>
            <img id="mask" src="mask.png" />
        </div>

    </div>

</div>

<!--  <ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
  </ul>
    <div ng-view></div>

  -->


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="app.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
<script src="components/jcrop/jquery.color.js"></script>
<script src="components/jcrop/jquery.Jcrop.js"></script>
<script src="controllers/imgProcController.js"></script>
</body>
</html>
