<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>CFBundleDisplayName</key>
	<string>baby-flashcards</string>
	<key>CFBundleIdentifier</key>
	<string>com.66bytes.baby-flashcards</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>UISupportedInterfaceOrientations</key>
	<array/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array/>
	<key>UIStatusBarHidden~ipad</key>
	<true/>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
</dict>
</plist>
